src/main/resources/cedula.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://localhost:8080/ws" 
xmlns:tns="http://localhost:8080/ws" elementFormDefault="qualified">
	
	<xs:element name="validarCedulaRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name= "tipoId" type="xs:string"/>
				<xs:element name= "numCedula" type="xs:string"/>
			</xs:sequence>	
		</xs:complexType>
	</xs:element>
	
	<xs:element name="validarCedulaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name= "isValido" type="xs:boolean"/>
			</xs:sequence>	
		</xs:complexType>
	</xs:element>
	
</xs:schema>